{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - collection: {Object} Collection liquid object
  - heading: {String} The heading of the modal
  - description: {String} The description of the modal
  - button: {String} The button text of the modal
  - skip_button: {String} The skip button text of the modal
  
  Usage: {% render 'box-builder-upsell-modal'
%} {% endcomment %}

<upsell-modal id="UpsellModal-{{ section.id }}" class="upsell-modal {% if collection.products.size == 1 %}upsell-modal-narrow{% endif %}{% if collection.products.size == 2 %}upsell-modal-twoup{% endif %}{% if collection.products.size == 3 %}upsell-modal-threeup{% endif %}">
  <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="upsell-modal__content" tabindex="-1">
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="upsell-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>

    <div
      class="upsell-modal__content-info color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
    
      {% if heading %}
        <h2 class="upsell-modal__header">{{ heading }}</h2>
      {% endif %}

      {% if description %}
        <p class="upsell-modal__description">{{ description }}</p>
      {% endif %}

      {% if collection.products.size >= 4 %}
        {% assign columns = 4 %}
        {% assign mobile_columns = 2 %}
      {% else %}
        {% assign columns = collection.products.size %}
        {% assign mobile_columns = 1 %}
      {% endif %}

      <ul id="upsells-grid" class="grid upsell-modal__content-grid grid--{{ mobile_columns }}-col-tablet-down grid--3-col-desktop grid--{{ columns }}-col-desktop">  
        {% for product in collection.products %}
          <li class="grid__item">
            {%  render 'upsell-product'
              card_product: product, show_quick_add: true %}
          </li>
        {% endfor %}
      </ul>

      <checkout-button>
        <button class="button button--full-width button--primary" id="modal-checkout-button">
          {{ button }}
          {%- render 'loading-spinner' -%}
        </button>
        <button class="button button--full-width button--tertiary" id="modal-skip-button">
          {{ skip_button}}
          {%- render 'loading-spinner' -%}
        </button>
      </checkout-button>
    </div>
  </div>
</upsell-modal>
