{% comment %}
  Renders a date picker

  Accepts:
  - debug: {Boolean} Enable debug mode with extra buttons. This mode only debugs the cart page. (optional)

  Usage:
  {% render 'date-picker', debug: true %}
{% endcomment %}

<link href='https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/styles/index.css' rel='stylesheet'>
<script src='https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/index.js'></script>

<script src='{{ 'affinity-extensions.js' | asset_url }}' async></script>
<script src='{{ 'custom-date-picker.js' | asset_url }}' async></script>
{{ 'custom-date-picker.css' | asset_url | stylesheet_tag }}

{%- assign disabled_weekdays = '' -%}
{%- unless settings.enable_sunday -%}{% assign disabled_weekdays = disabled_weekdays | append: '0,' %}{% endunless -%}
{%- unless settings.enable_monday -%}{% assign disabled_weekdays = disabled_weekdays | append: '1,' %}{% endunless -%}
{%- unless settings.enable_tuesday -%}{% assign disabled_weekdays = disabled_weekdays | append: '2,' %}{% endunless -%}
{%- unless settings.enable_wednesday -%}
  {% assign disabled_weekdays = disabled_weekdays | append: '3,' -%}
{%- endunless -%}
{%- unless settings.enable_thursday -%}{% assign disabled_weekdays = disabled_weekdays | append: '4,' %}{% endunless -%}
{%- unless settings.enable_friday -%}{% assign disabled_weekdays = disabled_weekdays | append: '5,' %}{% endunless -%}
{%- unless settings.enable_saturday -%}{% assign disabled_weekdays = disabled_weekdays | append: '6,' %}{% endunless -%}

<p>{{ settings.datepicker_message }}</p>
<date-picker
  page='cart'
  offset='3'
  cutoff-hours='{{ settings.cutoff_hours }}'
  cutoff-minutes='{{ settings.cutoff_minutes }}'
  disabled-dates='{{ settings.disabled_dates | split: ',' | json }}'
  enabled-dates='{{ settings.enabled_dates | split: ',' | json }}'
  disabled-weekdays='{{ disabled_weekdays | split: ',' | json }}'
  debug='{{ debug }}'
>
</date-picker>

<style>
  date-picker {
    display: block;
    margin-bottom: 15px;
  }

  .btn.debug {
    display: block;
    width: 100%;
    margin-block-start: 0.5rem;
  }
</style>
