{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'box-builder-upsell-modal.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{%- if section.settings.enable_quick_add -%}
  {{ 'box-builder-quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'upsell-modal.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-collection {
    padding-bottom: 60px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (min-width: 1280px) {
    .grid--4-col-desktop .grid__item {
      width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
      max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    }
  }

  .collection-quick-links {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background: #c4d9cd;
  }

  .collection-quick-links__buttons {
    position: relative;
    justify-content: center;
    display: flex;
  }

  .collection-quick-links__button {
    min-height: 44px;
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .collection-quick-links__button span {
    margin-left: 0.6rem;
    letter-spacing: 0;
  }

  .collection-quick-links__button--reset {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1px;
    padding: 0;
    background-color: transparent;
    color: #582d0ebf;
  }

  .collection-quick-links__button--reset::after {
    display: none;
  }
{%- endstyle -%}

{% comment %} Render discount on the page {% endcomment %}
<input type="hidden" id="discount" value="{{ section.settings.subscription_discount }}">

{% comment %} Render list of discounted products {% endcomment %}
{% assign discounted_products_list = '' %}
{% for product in section.settings.discounted_products %}
  {% assign discounted_products_list = discounted_products_list | append: product.id | append: ',' %}
{% endfor %}
<input type="hidden" id="discounted_products" value="{{ discounted_products_list }}">

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {% comment %} Add field to store upsells preference {% endcomment %}
  <input type="hidden" id="upsell-subscription" value="{{ section.settings.allow_upsell_subscriptions }}">

  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>

              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>

                {% render 'icon-caret' %}
              </div>
            </div>

            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.sort_button' | t }}
              </button>
            </noscript>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'box-builder-facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div class="product-grid-container" id="ProductGridContainer">
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>

            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>

            <ul
              class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop grid--4-col-desktop"
              id="product-grid"
              data-id="{{ section.id }}"
            >
              {%- for product in collection.products -%}
                {% capture wlm_check %}{% include 'wlm-product' with product %}{% endcapture %}{% unless wlm_check contains "Liquid error" %}{% include 'wlm-product' with product %}{% endunless %}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}

                <li class="grid__item{% if product.metafields.custom.hide_from_box_builder == true %} grid__item--hide{% endif %}">
                  {%- render 'box-builder-card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  -%}
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {%- render 'pagination', paginate: paginate, anchor: '' -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
</div>

<div class="collection-quick-links">
  <div class="page-width">
    <footer-buttons class="collection-quick-links__buttons">
      <button
        class="collection-quick-links__button collection-quick-links__button--reset button button--primary"
        id="cart-reset"
        type="button"
      >
        Reset
      </button>

      <button class="collection-quick-links__button button button--primary" id="reviewBoxButton" type="button">
        Review box
      </button>
    </footer-buttons>
  </div>
</div>

<modal-dialog class="product-popup-modal box-drawer" id="reviewBox">
  <div class="box-drawer__inner">
    <div class="box-drawer__content" role="dialog" aria-label="Box drawer" aria-modal="true" tabindex="-1">
      <div class="box-drawer__content-info">
        <header class="product-popup-modal__header">
          <h2 class="box-drawer__title">
            <span data-modal-product-quantity>0</span> meals in your box
          </h2>

          <button
            class="product-popup-modal__close"
            id="ModalClose-reviewBoxClose"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {%- render 'icon-close' -%}
          </button>
        </header>

        <div class="product-popup-modal__body">
          <div class="products">
            <div class="box-drawer__products" data-modal-product-list>
              No meals added
            </div>
          </div>
        </div>

        <footer class="product-popup-modal__footer">
          <subscription-type class="order-type__buttons">
            <button class="order-type__button" id="subscription" type="button"> 
              <span class="order-type__inline">
                <div class="order-type__circle"></div>

                <div class="order-type__stack">
                  <p class="order-type__text">
                    Subscribe
                  </p>
                </div>
              </span>
            </button>

            <button class="order-type__button" id="onetime" type="button">
              <span class="order-type__inline">
                <div class="order-type__circle"></div>

                <div class="order-type__stack">
                  <p class="order-type__text">One time purchase</p>
                </div>
              </span>
            </button>
          </subscription-type>

          <div id="orderType">
            <div id="subscriptionContent">
              <ul class="order-type__items">
                <!--<li class="order-type__item">
                  Save 10% off retail price on all orders
                </li>-->
                <li class="order-type__item">20% off your first 3 subscription orders</li>
                <li class="order-type__item">Skip, pause or cancel your subscription anytime</li>

                <li class="order-type__item">Edit your meal or snack choices as often as you want</li>
              </ul>

              <div class="order-type__frequency frequency__selector">
                <frequency-selector>
                  <select class="order-type__select" id="subscription-frequency" name="frequency">
                    <option value="1">Delivery every 1 week</option>
                    <option value="2">Delivery every 2 weeks</option>
                    <option value="4" selected>Delivery every 4 weeks</option>
                    <option value="6">Delivery every 6 weeks</option>
                    <option value="8">Delivery every 8 weeks</option>
                  </select>
                </frequency-selector>
              </div>
            </div>

            <div class="hidden" id="oneTimeContent">
              <li class="order-type__item">Switch to subscription to save 20%</li>
              <ul class="order-type__items order-type__items--border">
                <!--<li class="order-type__item">
                  Switch to subscribe & save for 10% off
                </li>-->
              </ul>
            </div>

            {% if section.settings.show_date_picker %}
            <div class="order-type__frequency order-type__frequency--calendar frequency__selector">
              <input class="order-type__select" id="delivery" type="text" name="deliveryDate" placeholder="Select delivery date" required>

              <span class="order-type__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.447 36.447">
                  <path fill="#40250a" d="M30.224 3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75-1.474 0-2.67 1.233-2.67 2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75-1.473 0-2.67 1.233-2.67 2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75-1.473 0-2.67 1.233-2.67 2.75v1.197H6.224c-2.343 0-4.25 1.907-4.25 4.25v24c0 2.343 1.907 4.25 4.25 4.25h24c2.344 0 4.25-1.907 4.25-4.25v-24c0-2.342-1.907-4.249-4.25-4.249zM25.286 2.75c0-.689.525-1.25 1.17-1.25.646 0 1.17.561 1.17 1.25v4.896c0 .689-.524 1.25-1.17 1.25-.645 0-1.17-.561-1.17-1.25V2.75zm-8.08 0c0-.689.525-1.25 1.17-1.25s1.17.561 1.17 1.25v4.896c0 .689-.525 1.25-1.17 1.25s-1.17-.561-1.17-1.25V2.75zm-8.081 0c0-.689.525-1.25 1.17-1.25s1.17.561 1.17 1.25v4.896c0 .689-.525 1.25-1.17 1.25s-1.17-.561-1.17-1.25V2.75zm22.849 29.448c0 .965-.785 1.75-1.75 1.75h-24c-.965 0-1.75-.785-1.75-1.75v-22h27.5v22z"></path>
                  <path fill="#40250a" d="M6.724 14.626h4.595v4.089H6.724zM12.857 14.626h4.596v4.089h-4.596zM18.995 14.626h4.595v4.089h-4.595zM25.128 14.626h4.596v4.089h-4.596zM6.724 20.084h4.595v4.086H6.724zM12.857 20.084h4.596v4.086h-4.596zM18.995 20.084h4.595v4.086h-4.595zM25.128 20.084h4.596v4.086h-4.596zM6.724 25.54h4.595v4.086H6.724zM12.857 25.54h4.596v4.086h-4.596zM18.995 25.54h4.595v4.086h-4.595zM25.128 25.54h4.596v4.086h-4.596z"></path>
                </svg>
              </span>

              </div>
            <div id="date_picker__message" class="hidden"></div>
            {% endif %}
          </div>

          <div class="box-drawer__total h3">
            <div class="box-drawer__total-label">
              Subtotal

              <span class="box-drawer__total-label-text"> (excludes delivery) </span>
            </div>

            <div class="box-drawer__total-cost" data-modal-total-price>£0.00</div>
          </div>

          {% if section.settings.show_upsells %}
            <modal-opener data-modal="#UpsellModal-{{ section.id }}" {{ section.shopify_attributes }} >
              <p class="box-drawer__minimum hidden" id="productCount">
                You need to have a least 8 items to proceed
              </p>

              <button class="checkout-button button button--full-width button--primary" id="UpsellPopup-{{ section.id }}" type="button" aria-haspopup="dialog">
                Checkout
                {%- render 'loading-spinner' -%}
              </button>

              <p class="box-drawer__small-print">
                <strong>Please don't order our meals if your child has a serious allergy.</strong>
                Due to the nature of our production facility and our supply chain there is a possibility our food may
                contain any of the 14 allergens.
              </p>
            </modal-opener>
          {% else %}
            <checkout-button>
              <p class="box-drawer__minimum hidden" id="productCount">
                You need to have a least 8 items to proceed
              </p>

              <button class="button button--full-width button--primary" id="checkoutButton">
                Checkout
                {%- render 'loading-spinner' -%}
              </button>

              <p class="box-drawer__small-print">
                <strong>Please don't order our meals if your child has a serious allergy.</strong>
                Due to the nature of our production facility and our supply chain there is a possibility our food may contain any of the 14 allergens.
              </p>
            </checkout-button>
          {% endif %}
        </footer>
      </div>
    </div>
  </div>
</modal-dialog>

{% comment %} Upsell Modal {% endcomment %}
{% if section.settings.show_upsells %}
  {% render 'box-builder-upsell-modal'
    collection: section.settings.upsell_collection,
    heading: section.settings.upsell_heading,
    description: section.settings.upsell_description,
    button: section.settings.upsell_button,
    skip_button: section.settings.upsell_skip_button
  %}
{% endif %}

<script>
  const date = document.querySelector("#delivery");
  if (date) {
    const fp = flatpickr(date, {
      dateFormat: 'd/m/Y',
      minDate: 'today',
      allowInput: true,
      disable: [
        // Disable weekends
        function(date) {
          return (date.getDay() === 0 || date.getDay() === 1 || date.getDay() === 2 || date.getDay() === 3 || date.getDay() === 5 || date.getDay() === 6 );
        }],
    });
  }
</script>

<style>
  .flatpickr-day {
    background-color: #c4d9cd;
    border-radius: 0;
    color: rgba(var(--color-foreground), 0.75);
  }

  .flatpickr-day:hover {
    background-color: #5c8972;
    border-color: #5c8972;
    color: #fff;
  }

  .flatpickr-day.selected {
    background-color: #5c8972;
    border-color: #5c8972;
    color: #fff;
  }

  .flatpickr-day.selected:hover,
  .flatpickr-day.selected:focus {
    background-color: #5c8972;
    border-color: #5c8972;
    color: #fff;
  }

  .flatpickr-input {
    cursor: pointer;
  }

  .flatpickr-input::placeholder {
    color: rgb(var(--color-foreground));
  }
</style>

{% schema %}
{
  "name": "Product grid (BB)",
  "class": "section section-collection",
  "settings": [
    {
      "type": "range",
      "id": "subscription_discount",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Subscription discount",
      "default": 20
    },
    {
      "type": "product_list",
      "id": "discounted_products",
      "label": "Products",
      "limit": 50
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 48,
      "step": 4,
      "default": 48,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Upsells"
    },
    {
      "type": "checkbox",
      "id": "show_upsells",
      "label": "Show upsells modal",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "allow_upsell_subscriptions",
      "label": "Allow upsell subscriptions",
      "default": false
    },
    {
      "type": "text",
      "id": "upsell_heading",
      "label": "Upsell Heading",
      "default": "You may also like"
    },
    {
      "type": "richtext",
      "id": "upsell_description",
      "label": "Upsell description"
    },
    {
      "type": "collection",
      "id": "upsell_collection",
      "label": "Upsells collection"
    },
    {
      "type": "text",
      "id": "upsell_button",
      "label": "Upsell Button Label",
      "default": "Continue"
    },
    {
      "type": "text",
      "id": "upsell_skip_button",
      "label": "Upsell Button Label",
      "default": "Skip and Continue"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_date_picker",
      "default": false,
      "label": "Show date picker",
      "info": "Enable a date picker which shows the available delivery dates for the subscription"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
