{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner-text.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign image_url = section.settings.image_desktop
  assign image_height = section.settings.image_height
  assign image_mobile_url = section.settings.image_mobile
  assign image_link_url = section.settings.link_url
  assign image_title = section.settings.title
  assign image_title_size = section.settings.title_size
  assign color_scheme = section.settings.section_color_scheme
-%}

<div class="image-banner-text image-with-text__media--{{ image_height }} color-{{ color_scheme }}">
  {%- if image_url != blank -%}
    <div class="image-banner-text__desktop{% if image_mobile_url != blank %} image-banner-text__desktop--has-mobile-image{% endif %}">
      <img
        class="image-banner-text__image"
        srcset="{%- if image_url.width >= 375 -%}{{ image_url | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if image_url.width >= 550 -%}{{ image_url | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if image_url.width >= 750 -%}{{ image_url | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if image_url.width >= 1100 -%}{{ image_url | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if image_url.width >= 1500 -%}{{ image_url | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if image_url.width >= 1780 -%}{{ image_url | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if image_url.width >= 2000 -%}{{ image_url | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if image_url.width >= 3000 -%}{{ image_url | image_url: width: 3000 }} 3000w,{%- endif -%}
          {{ image_url | image_url }} {{ image_url.width }}w"
        sizes="100vw"
        src="{{ image_url | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ image_url.alt | escape }}"
        width="{{ image_url.width }}"
        height="{{ image_url.height }}"
      >
    </div>
  {%- endif -%}

  {%- if image_mobile_url != blank -%}
    <div class="image-banner-text__mobile">
      <img
        class="image-banner-text__image"
        srcset="{%- if image_mobile_url.width >= 375 -%}{{ image_mobile_url | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if image_mobile_url.width >= 550 -%}{{ image_mobile_url | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if image_mobile_url.width >= 750 -%}{{ image_mobile_url | image_url: width: 750 }} 750w,{%- endif -%}
          {{ image_mobile_url | image_url }} {{ image_mobile_url.width }}w"
        sizes="100vw"
        src="{{ image_mobile_url | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ image_mobile_url.alt | escape }}"
        width="{{ image_url.width }}"
        height="{{ image_url.height }}"
      >
    </div>
  {%- endif -%}

  <div class="image-banner-text__content image-banner-text__content--{{ image_title_size }}">
    {%- if image_title != blank -%}
      <h2 class="image-banner-text__title image-banner-text__title--{{ image_title_size }}">
        {{- image_title -}}
      </h2>
    {%- endif -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
          <div
            class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.button_label_1 != blank -%}
              <a
                {% if block.settings.button_link_1 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_1 }}"
                {% endif %}
                class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
              >
                {{- block.settings.button_label_1 | escape -}}
              </a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a
                {% if block.settings.button_link_2 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link_2 }}"
                {% endif %}
                class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
              >
                {{- block.settings.button_label_2 | escape -}}
              </a>
            {%- endif -%}
          </div>
      {%-  endcase -%}
    {%- endfor -%}
  </div>


  {%- if image_link_url != blank -%}
    <a class="image-banner-text__link" href="{{ image_link_url }}">
      {%- if image_title != blank -%}
        <span class="visibility-hidden">
          {{- image_title -}}
        </span>
      {%- endif -%}
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Image banner text (C)",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image (desktop)"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "Image height (desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "Title size (desktop)"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner text (C)",
      "blocks": [
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
